body{
    background-image: URL("dark_wood.png");
}

p{
    font-weight: bold;
    font-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-color: #FFBC00;
    font-size: 40px;
    font-family: "Passion One";
    margin-bottom: 0px;
}

li{

}

#Header{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    text-align: center;
    background-color: #8E41D5;
}

#Header h1{
    font-size: 60px;
    font-family: "Passion One";
    color: #FFA7D9;
    font-weight: bold;
    background-color: palevioletred;
}

#LeftNav{
    border: solid 8px palegoldenrod;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 300px;
    float: left;
    padding-right: 0px;
    text-align: center;
    padding-bottom: 8px;
    background-color: palevioletred;
}

#LeftNav img{
    width: 300px;
}

#LeftNav ul{
    list-style-type: none;
    padding-left: 0px;
}

#LeftNav h3{

}

#Content {
    border: solid 8px palegoldenrod;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 700px;
    text-align: center;
    padding: 15px;
    background-color: palevioletred;
}

#Footer{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px palegoldenrod;
    text-align: center;
    background-color: palevioletred;
}

#Footer ul{
    list-style-type: none;
    padding-left: 0px;
}

a {
    color: white;
    font-weight: bold;
    font-size: 24px;
}